@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100% */
}

body {
    background-image: linear-gradient(to right, #026773 30%, #3CA6A6 70%);
}
main {
   background-color: #ffffff;
   border-radius: 20px;
   box-shadow: 5px 5px 15px #012E40;
   max-width: 900px;
   width: 100%;
   padding: 10px;
   margin: auto;
   padding: 20px;
}
h1 {
    color: #3CA6A6;
    text-align: center;
    text-shadow: 1px 1px 0px #024959;
}
h2 {
    color: #026773;
    margin-top: 20px;
}
h3 {
    color: #012E40;
    margin-top: 20px;
}
mark {
    background-color: #73d1e6;
}
p {
    text-align: justify;
}